
.webview-overlay {
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position:absolute;
    transition: opacity 0.1s ease-in-out 0.1s;
}

.transparent-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0.01;
    display: none;
}

.overlay-wp {
    background-color: black !important;
    opacity: 0.3 !important;
}

.fadeOut {
    opacity: 0;
}

.stage x-ms-webview {
    /*transition: opacity ease-out .3s;
    transition-delay: .3s;
    opacity:1;*/
}

.loading.stage x-ms-webview {
    /*opacity: .01 !important;*/
}

.loading-wrapper {
    display: none;
    z-index: 10;
}

.loading .loading-wrapper {
    display: block;
}
.loading-progress {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 10%;
}

.extendedSplashScreen .loading-progress {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
    margin: 0;
}



/*
Progress control.
*/
progress {
    width: 180px;
    height: 6px;
    border-style: none;
}
progress.win-medium {
    width: 280px;
}
progress.win-large {
    width: 100%;
}
progress::-ms-fill {
    border-style: none;
}
progress:indeterminate {
    height: 4px;
    padding: 1px 0; /* Indeterminate dots should be 4px tall, but overall control stays 6px. */
}
@keyframes win-progress-fade-out {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.5;
    }
}
progress.win-paused:not(:indeterminate) {
    animation-name: win-progress-fade-out;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.03, 0.76, 0.31, 1.0);
    opacity: 0.5;
}
progress.win-error::-ms-fill {
    opacity: 0;
}
progress.win-ring:indeterminate::-ms-fill {
    animation-name: -ms-ring;
}
progress.win-ring {
    width: 20px;
    height: 20px;
}
progress.win-medium.win-ring {
    width: 40px;
    height: 40px;
}
progress.win-large.win-ring {
    width: 60px;
    height: 60px;
}

